@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@media (min-width:600px){
  .rootcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.not-found{
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

.authcard{
  margin: 10px auto !important;
  max-width: 500px !important;
  padding: 10px;
}

input:focus{
  border-bottom: 1px solid #1565c0 !important;
  box-shadow: 0 1px 0 0 #1565c0 !important;
}